

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/s.css" rel='stylesheet' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <title>NHATHUOCSO1VIETNAM</title>
    <link rel="shortcut icon" href="~/UploadFile/icon.png" type="image/x-icon" />

    <style>
        .icon-cart-cus {
            position: relative;
        }

        #cart {
            position: absolute;
            display: block;
            width: 25px;
            height: 25px;
            background: blue;
            color: white;
            border-radius: 50%;
            right: -10px;
            text-align: center;
            top: -10px;
        }

        #MenuItems li a {
            color: #333;
            font-size: 15px;
            font-weight: bold;
        }

            #MenuItems li a:hover {
                color: olive;
            }

        .cus-icon {
            color: #333;
            font-size: 14px;
            font-weight: bold;
        }

            .cus-icon:hover {
                color: olive;
            }

        .userlogin {
            position: relative;
        }

            .userlogin:hover .userlogged {
                display: block;
            }

        .userlogged {
            position: absolute;
            width: 150px;
            display: none;
            left: -35px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            z-index: 2;
            font-size: 14px;
            border-radius: 5px;
            padding: 5px 10px;
            background-color: white;
        }

            .userlogged div a {
                color: #333 !important;
            }

        .img-logo {
            width: 200px;
            height: 150px;
        }







        #footer-map {
            vertical-align: bottom;
            width: 100%;
            height: 1100px;
            background-color: black;
            color: #fff;
            /* padding: 50px;*/
        }

            #footer-map .name-map {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
            }

                #footer-map .name-map p {
                    font-size: 24px;
                    text-transform: uppercase;
                    margin-bottom: 8px
                }

                #footer-map .name-map a {
                    text-decoration: none;
                    margin-top: 50px;
                }

        #map {
            float: left;
            width: 29%;
            padding: 0px;
            margin: 3px;
        }

            #map a {
                text-decoration: none;
                font-size: 14px;
            }

            #map li {
                list-style-type: none;
                font-size: 14px;
            }

            #map h4 {
                font-size: 18px;
                font-weight: 500;
                color: #fff;
                margin-bottom: 20px;
                margin-top: 20px;
            }

        #footer-comany {
            color: #fff;
            float: left;
            padding-top: 150px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none; /* Ẩn menu dropdown */
            position: absolute;
            background-color: #f9f9f9; /* Màu nền cho menu dropdown */
            min-width: 160px; /* Chiều rộng tối thiểu cho menu dropdown */
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Đổ bóng cho menu */
            z-index: 1; /* Đảm bảo menu nằm trên các phần khác */
        }

        .dropdown:hover .dropdown-content {
            display: block; /* Hiện menu dropdown khi hover */
        }

        .dropdown-content a {
            color: black; /* Màu chữ cho các mục trong menu */
            padding: 12px 16px; /* Padding cho các mục */
            text-decoration: none; /* Bỏ gạch chân */
            display: block; /* Hiện các mục dưới dạng khối */
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1; /* Màu nền khi hover trên các mục */
            }

    </style>
</head>

<body>
    <div class="wrapper">
        <div class="header">

            <div class="navbar p-4 d-flex align-items-center">

                <nav style="height:150px">
                    <ul id="MenuItems">
                        <li><a href="/home/index"><img class="img-logo" src="~/img/logoLC.jpg"></a> <a href="/home/index">TRANG CHỦ</a> </li>

                       
                        <li class="ml-4"><a href="/danhmucs/1">THỰC PHẨM CHỨC NĂNG</a> </li>
                        <li><a href="/games/danhmuc/2">DƯỢC PHẨM</a></li>
                        <li><a href="/games/danhmuc/3">CHĂM SÓC CÁ NHÂN</a></li>
                        <li><a href="/games/danhmuc/4">THUỐC</a></li>
                        <li><a href="/games/danhmuc/5">THIẾT BỊ Y TẾ</a></li>


                        <li><a href="/kiemtrasuckhoe/Index/6">KIỂM TRA SỨC KHỎE</a></li>



                        <li class="dropdown">
                            <a>
                               
                            </a>
                            <a href="#" class="dropbtn">KHÁC</a>
                            <div class="dropdown-content">
                                <a href="/khac/1">Mục 1</a>
                                <a href="/khac/2">Mục 2</a>
                                <a href="/khac/3">Mục 3</a>
                            </div>
                        </li>

                    </ul>
                </nav>
                <div style="height:150px" class="navbar-right d-flex align-items-center">
                    <div class="search-box">
                        <input id="search-box" onkeypress="return runScript(event)" value="" type="text" />
                        <i class='icon-search bx bx-search'></i>
                    </div>


                    <a class="icon-cart-cus" style="margin-left:10px" href="/giohang"><i class='cus-icon bx bx-cart'></i> <span id="cart"></span></a>

                    @if (Context.Session.GetString("userLogin") != null)
                    {
                        <div class="userlogin">
                            <a style="margin-left:30px" href="/home/donhang">

                                <i class='cus-icon bx bx-user-check'></i>

                            </a>
                            <div class="userlogged">
                                <div>
                                    <a href="/home/donhang">Đơn hàng của tôi</a>
                                </div>
                                <div>
                                    <a href="/user/dangxuat">Đăng xuất</a>
                                </div>
                                <div>
                                    <a href="/user/ThongTinNguoiDung">Thông tin cá nhân</a>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <a style="margin-left:30px" href="/user/login"><i class='cus-icon bx bx-user'></i></a>
                    }
                    
                </div>

                <img src="~/UploadFile/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>


        </div>
        <div class="main">
            @RenderBody()
        </div>

        <!-- Button trigger modal -->



        <footer id="footer-map">

            <div class="name-map">
                <p style="color:aliceblue"><strong>HỆ THỐNG NHÀ THUỐC</strong></p><br />
                @*<a href="">Xem địa chỉ hệ thống cửa hàng 85 cửa hàng</a>*@
            </div>
            <div id="map">
      
                <h4>MIỀN TRUNG & TÂY NGUYÊN</h4>
                <ul>
                    <li>
                        <a href="https://www.google.com/maps/?q=13.783600,109.22323">
                            <img src="/Images/map.png" style="width:20px;">
                        </a>
                        <span>
                            470 Trần Hưng Đạo, TP Quy Nhơn, Bình Định.
                            <a href="https://www.google.com/maps/?q=13.783600,109.22323" style="color: #f04e23 !important;"> Xem bản đồ </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/?q=13.093764,109.314781">
                            <img src="/Images/map.png" style="width:20px;">
                        </a>
                        <span>
                            116 Nguyễn Huệ, P7, Tp.Tuy Hòa, Phú Yên.
                            <a href="https://www.google.com/maps/?q=13.093764,109.314781" style="color: #f04e23 !important;"> Xem bản đồ </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/?q=12.2499149,109.1811175">
                            <img src="/Images/map.png" style="width:20px;">
                        </a>
                        <span>
                            272 Thống Nhất, P.Phương Sơn, TP. Nha Trang.
                            <a href="https://www.google.com/maps/?q=12.2499149,109.1811175" style="color: #f04e23 !important;"> Xem bản đồ </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/?q=12.4853005,109.1251246">
                            <img src="/Images/map.png" style="width:20px;">
                        </a>
                        <span>
                            569 Trần Quý Cáp, TX. Ninh Hòa, Khánh Hòa.
                            <a href="https://www.google.com/maps/?q=12.4853005,109.1251246" style="color: #f04e23 !important;"> Xem bản đồ </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/?q=11.917477,109.143682">
                            <img src="/Images/map.png" style="width:20px;">
                        </a>
                        <span>
                            2206 Hùng Vương, Cam Lộc, Tp. Cam Ranh, Khánh Hòa.
                            <a href="https://www.google.com/maps/?q=11.917477,109.143682" style="color: #f04e23 !important;"> Xem bản đồ </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/?q=11.558958089257162, 108.99399172058075">
                            <img src="/Images/map.png" style="width:20px;">
                        </a>
                        <span>
                            404 Ngô Gia Tự, Khu 2, P.Tấn Tài, Phan Rang,Ninh Thuận.
                            <a href="https://www.google.com/maps/?q=11.558958089257162, 108.99399172058075" style="color: #f04e23 !important;"> Xem bản đồ </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/?q=10.937254,108.103524">
                            <img src="/Images/map.png" style="width:20px;">
                        </a>
                        <span>
                            82 Trần Hưng Đạo, P.Phú Trinh, Phan Thiết,Bình Thuận.
                            <a href="https://www.google.com/maps/?q=10.937254,108.103524" style="color: #f04e23 !important;"> Xem bản đồ </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/?q=10.658301,107.772487">
                            <img src="/Images/map.png" style="width:20px;">
                        </a>
                        <span>
                            88 Lê Lợi, P. Phước Hội, TX La Gi, Bình Thuận.
                            <a href="https://www.google.com/maps/?q=10.658301,107.772487" style="color: #f04e23 !important;"> Xem bản đồ </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/?q=11.5361475,107.8143929">
                            <img src="/Images/map.png" style="width:20px;">
                        </a>
                        <span>
                            403 Trần Phú, Lộc Sơn, TP. Bảo Lộc,Lâm Đồng.
                            <a href="https://www.google.com/maps/?q=11.5361475,107.8143929" style="color: #f04e23 !important;"> Xem bản đồ </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/?q=11.958633,108.3436327">
                            <img src="/Images/map.png" style="width:20px;">
                        </a>
                        <span>
                            59-61 Nguyễn Công Trứ, Phường 2, Thành phố Đà Lạt.
                            <a href="https://www.google.com/maps/?q=11.958633,108.3436327" style="color: #f04e23 !important;"> Xem bản đồ </a>
                        </span>
                    </li>
                </ul>
            </div>
           

            <div id="footer-comany">
                <p>NHÀ THUỐC LONG CHÂU</p>
                <p>Địa chỉ: Số 7 đường 3A, khu dân cư Ấp 5, X. Phong Phú, H. Bình Chánh., Tp. HCM</p>
                <p>MST:0314746543</p>
            </div>
        </footer>
        <script language="JavaScript">
            var MenuItems = document.getElementById("MenuItems");

            MenuItems.style.maxHeight = "0px";
            function menutoggle() {
                var MenuItems = document.getElementById("MenuItems");
                if (MenuItems.style.maxHeight == "0px") {
                    MenuItems.style.maxHeight = "200px";

                }
                else {
                    MenuItems.style.maxHeight = "0px";
                }
            }

            const keyword = document.getElementById('search-box');


            const iconSearch = document.querySelector('.icon-search')


            iconSearch.addEventListener('click', e => {
                if (keyword.value.trim()) {
                    window.location.href = `/games/Search?keyword=${keyword.value}`
                }
            })

            function runScript(e) {
                //See notes about 'which' and 'key'
                if (e.keyCode == 13) {
                    if (keyword.value.trim()) {
                        window.location.href = `/games/Search?keyword=${keyword.value}`
                    }
                }
            }

            const cart = document.getElementById("cart");



            fetch('/home/GetData')
                .then((response) => response.json())
                .then((data) => cart.innerHTML = data);

        </script>

</body>




        <!----footer------>
        <!-- script for menu -->
      


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 
