@{
    ViewData["Title"] = "Home Page";
}

<div class="header-cus">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h1>Nhà thuốc online nơi cung cấp đầy đủ các sản phẩm cho bạn thoải mái lựa chọn</h1>
                <p>Xem nhanh tất cả sản phẩm có sẵn của chúng tôi tại đây.</p>
                <a asp-controller="SanPhams" asp-action="CusSanPham" role="button" class="btn btn-success">Xem ngay &#8594;</a>
            </div>
            <div class="col-5">
                <img class="w-100" src="~/UploadFile/nhathuoc.jpg">
            </div>

        </div>
    </div>

</div>

<!---recommended--->
<div class="recommended">
    <div class="container2">
        <div class="row">
            <div class="items">
                <img src="https://pacificcross.com.vn/wp-content/uploads/2023/06/Anh-huong-suc-khoe-3.jpeg">
            </div>
            <div class="items">
                <img src="https://images2.thanhnien.vn/528068263637045248/2023/7/17/1-mai-han-group-16895629488332053660025.jpg">
            </div>
            <div class="items">
                <img src="https://images2.thanhnien.vn/528068263637045248/2023/8/14/1-mai-han-16920015254312085844847.jpg">
            </div>
        </div>
    </div>

</div>