@model IEnumerable<dynamic>
@{
    Layout = "~/Areas/Admin/Views/shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Tên Sản Phẩm
                </th>
                <th>
                    Hình Ảnh
                </th>
                <th>
                    Số Sao Trung Bình
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.TenSanPham
                    </td>
                    <td>
                        <img src="@item.HinhAnh" alt="@item.TenSanPham" style="width: 50px; height: 50px;" />
                    </td>
                    <td>
                        @item.SoSaoTrungBinh.ToString("0.0") <!-- Hiển thị số sao trung bình với 1 chữ số thập phân -->
                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>
</html>
