@model QLThuocDAPM.Data.Benh
@* // Thay đổi namespace cho đúng với mô hình của bạn *@

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Chi tiết bệnh: @Html.DisplayFor(model => model.TenBenh)</h2>
            <div style="margin-bottom: 50px" class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Tên bệnh: @Html.DisplayFor(model => model.TenBenh)</h5>
                    <p class="card-text">
                        <strong>Mô tả bệnh:</strong> @Html.DisplayFor(model => model.MoTa)
                    </p>
                    <a href="@Url.Action("Index", "Benh")" class="btn btn-secondary">Quay Lại</a>
                </div>
            </div>
        </div>
    </div>
</div>