@model QLThuocDAPM.Data.Benh

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Benh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaBenh" />
            <div class="form-group">
                <label asp-for="TenBenh" class="control-label"></label>
                <input asp-for="TenBenh" class="form-control" />
                <span asp-validation-for="TenBenh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa1" class="control-label"></label>
                <input asp-for="MoTa1" class="form-control" />
                <span asp-validation-for="MoTa1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa2" class="control-label"></label>
                <input asp-for="MoTa2" class="form-control" />
                <span asp-validation-for="MoTa2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

